<% if( this.length < 1 ){ %>
	
	<li>
		<a href="groupnew.htm">
			You have no Local Support Groups added.
		</a>
	</li>

<% }else{ %>


<%for(var i = 0; i < this.length ; i++){ %>
    <li>
		<a class="practiceAnchor" href="groupdetails.htm?id=<%=this[i].id%>"><%=this[i].Name%></a>
    </li>
<%}}%>