<label for="birthdate">Your date of birth</label>
<input type="text" name="Dob" id="Dob" class="textinput required" value="<%= $.scroller.formatDate('dd M yy', this.dateOfBirth) %>" />
<label for="psacount">PSA Count</label>
<input type="number" name="psacount" id="PsaCount" class="textinput required" />
<label for="date">Date</label>
<input type="text" name="date" id="Date" class="textinput required" value="<%= $.scroller.formatDate('dd M yy', this.date) %>" />
<input type="submit" id="newpsalevelbutton" value="Record PSA Level" data-icon="check" />
