<label for="birthdate">Your Age</label>
<input type="text" name="age" id="Age" class="required" />
<input type="hidden" name="birthdate" id="BirthDate" class="required" />
<label for="psacount">PSA Count</label>
<input type="number" name="psacount" id="PsaCount" class="required" />
<label for="date">Date</label>
<input type="text" name="date" id="Date" class="required" />
<input type="submit" id="newpsalevelbutton" value="Record PSA Level" />