<?xml version="1.0" encoding="Windows-1252"?>
<label for="birthdate">Your date of birth</label>
<input type="text" placeholder="Enter your date of birth" name="Dob" id="Dob" class="textinput required" value="<%= $.scroller.formatDate('dd M yy', this.dateOfBirth) %>" />
<label for="psacount">PSA Count</label>
<input type="number" step = "0.1" min="0.1" max="20.0"  placeholder="Your current PSA level (ng/ml)" name="psacount" id="PsaCount" class="textinput required" />
<label for="date">Date</label>
<input type="text" name="date" id="Date" class="textinput required" value="<%= $.scroller.formatDate('dd M yy', this.date) %>" />
<input type="submit" id="newpsalevelbutton" value="Record PSA Level" data-icon="check" />
