<?xml version="1.0" encoding="Windows-1252"?>

<a data-icon="plus" data-role="button" href="risk/pages/newtask.htm">New Work Task</a>

<a data-icon="grid" data-role="button" href="risk/pages/inprogress.htm">Current Tasks</a>

<div id="erisk">
  <img src="risk/images/logo.png"/>
</div>

<a data-icon="check" data-role="button" href="risk/pages/completed.htm">Completed Tasks</a>

<a data-icon="info" data-role="button" href="risk/pages/instructions.htm">Help</a>