<a data-icon="plus" data-role="button" href="risk/pages/newtask.htm">Risk assess a new task</a>

<a data-icon="grid" data-role="button" href="risk/pages/inprogress.htm">In progress tasks</a>

<a data-icon="check" data-role="button" href="">Completed risk assessments</a>