<a data-icon="plus" data-role="button" href="risk/pages/newtask.htm">New risk assessment</a>

<a data-icon="grid" data-role="button" href="">In progress assessments</a>

<a data-icon="check" data-role="button" href="">Completed assessments</a>