<a data-icon="plus" data-role="button" href="risk/pages/newtask.htm">Start new risk assessment</a>

<a data-icon="grid" data-role="button" href="risk/pages/inprogress.htm">View risk assessments in progress</a>

<a data-icon="check" data-role="button" href="">View completed risk assessments</a>