<?xml version="1.0" encoding="Windows-1252"?>
<div data-role="dialog" data-close-btn-text="OK" ID="leaveAppDialog">
    <div data-role="header">
        <h1>Confirm</h1>
    </div>
    <div data-role="content" data-theme="d">
        <div id = "errorText">
          This link will take you to a site maintained by a third party who is solely responsible for its contents. AstraZeneca provides this link as a service to App users. AstraZeneca is not responsible for the Privacy Policy of any third party Web sites. We encourage you to read the Privacy Policy of every Web site you visit.
        </div>
        <a id="confirmYes" data-role="button" target="_blank" onclick="$('.ui-dialog').dialog('close');" href="<%= this.toLink %>">Yes</a>
        <a id="confirmNo" data-role="button"  href="<%= this.fromLink  %>">No</a>
    </div>
</div>
