<div data-role="dialog" data-close-btn-text="OK" ID="leaveAppDialog">
    <div data-role="header">
        <h1>Confirm</h1>
    </div>
    <div data-role="content" data-theme="d">
        <div id = "errorText">
            You are about to leave this application to visit a 3rd party website. AstraZeneca makes no warranties or representations as to the accuracy, completeness, reliability or usefulness of any information contained in this destination website and has no control or influence over the site's content
        </div>
        <a id="confirmYes" data-role="button" target="_blank" onclick="$('.ui-dialog').dialog('close');" href="<%= this.toLink %>">Yes</a>
        <a id="confirmNo" data-role="button"  href="<%= this.fromLink  %>">No</a>
    </div>
</div>
