 <p>This application helps men diagnosed with Prostate Cancer (and their relatives) take control of their disease management. The content has been developed by AstraZeneca, in collaboration with healthcare professionals, as a non-promotional free service.</p>
<img  id="AzLogo"src="zoladex/lib/jQueryMobile/images/azlogo.png" />
<div class="spacer"></div>
<a data-theme="g"  data-role="button" href="zoladex/pages/home/home.htm" id="btnContinue">Continue</a>
<a data-role="button" href="zoladex/pages/legal/legal.htm" id="btnLegalNotices">Legal Notices</a>
<p class="nopaddingsmall">
    <span>Date of Preparation: February 2012.</span>&nbsp;&nbsp;<span>1564804</span>
</p>