<% if( this.length < 1 ){ %>
	
	<li>
		<a href="practicenew.htm">
			You have no Hospitals/Practices added.
		</a>
	</li>

<% }else{ %>


<%for(var i = 0; i < this.length ; i++){ %>
    <li>
		<a class="practiceAnchor" href="practicedetails.htm?id=<%=this[i].id%>"><%=this[i].FullName()%></a>
    </li>
<%}}%>