<ul data-role="listview" data-filter="true" data-inset="true" data-filter-placeholder="Search by name" id="PracticeList">
	<%for(var i = 0; i < this.length ; i++){ %>
		<li>
			<a class="practiceAnchor" href="practicedetails.htm?id=<%=this[i].id%>"><%=this[i].FullName()%></a>
		</li>
	<%}%>
</ul>