
<input type="hidden" id="catId" value="<%=this.questionList[0].CategoryId%>"/>

<% for(var i = 0; i < this.questionList.length; i++){ %>
	<li class="question">
		<a href="#">
			<h3>
				<div class="overflow"><%= this.questionList[i].Question %></div>
			</h3>
		</a>	
	</li>	
<%}%>
