<% steal.dev.log(this); %>
<% for(var i = 0; i < this.questionList.length; i++){ %>
	<li>
		<div style="padding: 10px; text-align: center"><%=this.questionList[i].Question%></div>
		<select id="QuestionDdl" name="QuestionDdl">
			<option value="-1">Do not add</option>
			<% for(var j = 0; j < this.hcpList.length; j++){ %>
				<option value="<%= this.hcpList[j].id %>"><%= this.hcpList[j].FirstName %></option>
			<%}%>     
		</select>
	</li>	
<%}%>


