<input type="hidden" name="id" id="id" value="<%= this.id %>" />

<label for="title">Question: </label>
<input type="text" class="required" name="Question" id="Question" value="<%= this.Question %>" />

<label for="title">Answer (optional): </label>
<input type="text" name="Answer" id="Answer" value="<%= this.Answer %>" />

<input type="submit" id="newquestionbutton" value="Submit" data-theme="g" />
