<% var done = false; %>

<% if(this.length < 1){ %>
	<li data-role="list-divider">You have not prepared any questions to ask your Healthcare Professional.</li>
<%}else{ %>

	<% if(this[0].Answer == ""){ %>
		<li data-role="list-divider">
			Unanswered Questions
		</li>
	<% } %>

	<% for(var i=0; i < this.length; i++){ %>

		<% if(this[i].Answer !== "" && !done){ %>

			<li data-role="list-divider">
			Answered Questions
			</li>

			<% done = true; %>

		<%}%>

		<li>
			<a id="<%=this[i].id %>" class="questionText">
				<h3><div class="overflow"><%= this[i].Question %> <span class="purple"><%= this[i].Answer %></span></div></h3>
			</a>
			<a class="deleteButton" id="<%=this[i].id %>" >Delete</a>
		</li>

	<% } %>

<% } %>

