<input type="hidden" name="id" id="id" value="<%= this.id %>" />
<label for="title">Name</label>
<input type="text" name="Name" id="name" class="required" value="<%= this.Name %>" />
<input type="submit" id="newpracticebutton" value="Submit" />