<%for(var i = 0; i < this.length ; i++){ %>
    <li>
		<a href="hcpdetails.htm?Id=<%=this.item(i).Id%>"><%=this.item(i).Title%> <%=this.item(i).FirstName%> <%=this.item(i).Surname%></a>
    </li>
<%}%>