
<% if(this.hcpList.length < 1) { %>

<%
$("#questionContainer").remove();
%>
	<li data-divider-theme="c" data-role="list-divider">Sorry, you have not added any Healthcare Professionals yet. You can't ask a question to noone.</li>
<%} else { %>


<% for(var i = 0; i < this.hcpList.length; i++){ %>
	<li class="hcp" id="<%=this.hcpList[i].id%>">
		<a href="#">
			<h3>
				<div class="overflow"><%= this.hcpList[i].FullName() %></div>
			</h3>
		</a>	
	</li>	
<%}%>

<% } %>