
<% if(this.hcpList.length < 1) { %>

<ul data-role="listview" data-divider-theme="c">
	<li data-role="list-divider">Sorry, you have not added any HCPs yet. You can't ask a question to noone!</li>
</ul>
<%} else { %>


<% for(var i = 0; i < this.hcpList.length; i++){ %>
	<li >
		<a href="#">
			<h3>
				<div id="<%=this.hcpList[i].id%>" class="hcp overflow"><%= this.hcpList[i].FullName() %></div>
			</h3>
		</a>	
	</li>	
<%}%>

<% } %>