<?xml version="1.0" encoding="Windows-1252"?>
<p>
  <label>Hazard Name</label>
  <input type="text" placeholder="Compulsory" class="required" id="hazard"/>
</p>
<p class="hows">
  <label>Hows</label>
  <input type="text" class="required" placeholder="Compulsory" id="how1" name="how1"/>
  <input type="text" placeholder="Optional" id="how2" name="how2"/>
  <input type="text" placeholder="Optional" id="how3" name="how3"/>
  <input type="text" placeholder="Optional" id="how4" name="how4"/>
  <input type="text" placeholder="Optional" id="how5" name="how5"/>
</p>
<p class="controls">
  <label>Further Controls</label>
  <input type="text" class="required" placeholder="Compulsory" id="control1" name="control1"/>
  <input type="text" placeholder="Optional" id="control2" name="control2"/>
  <input type="text" placeholder="Optional" id="control3" name="control3"/>
  <input type="text" placeholder="Optional" id="control4" name="control4"/>
  <input type="text" placeholder="Optional" id="control5" name="control5"/>
</p>
<p>
  <button class="ok" type="submit" data-icon="check" data-role="submit">Save</button>
</p>
