<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns	= "http://www.w3.org/ns/widgets"
        xmlns:gap	= "http://phonegap.com/ns/1.0"
        id = "com.risk.mobile"
        version = "1.0.0.0">

  <name>Risk Assessment App</name>

  <description>
    Risk Assessment App
  </description>

  <author href=""
          email="">
    Shortech Studio
  </author>

  <gap:platforms>
    <gap:platform name="ios" />
    <gap:platform name="android"
                  minVersion="2.1" />
  </gap:platforms>


  <icon src="assets/iphone.png"
        width="57"
        height="57"
         />  
		 
 <icon src="assets/Icon-72.png"
        width="72"
        height="72"
         />


  <icon src="assets/iphoneretina.png"
        width="114"
        height="114"
         />
  
  <icon src="assets/Android_ldpi.png"
        width="36"
        height="36"
         />

  <icon src="assets/Android_mdpi.png"
        width="48"
        height="48"
         />
		 
   <icon src="assets/Android_hdpi.png"
		width="72"
		height="72"
		 />
		 
	<icon src="assets/Android_xdpi.png"
	width="96"
	height="96"
	 />


  <gap:splash src="assets/ipadportrait.png"
              width="768"
              height="1004" />
  <gap:splash src="assets/ipadlandscape.png"
              width="1024"
              height="748" />
  <gap:splash src="assets/iphonesplash.png"
              width="320"
              height="480" />
  <gap:splash src="assets/iphoneretinasplash.png"
              width="640"
              height="960" />
  
  <feature name="http://api.phonegap.com/1.0/geolocation"/>
  <feature name="http://api.phonegap.com/1.0/network"/>
  <feature name="http://api.phonegap.com/1.0/notification"/>

</widget>
