<label data-inline="true"><strong>Task name</strong> e.g 'Cleaning windows':</label>
<input type="text" name="Name" id="Name"  class="textinput required" value="" />
<input type="submit" id="newtaskbutton" data-icon="check" value="Next Step" />