<label data-inline="true">Task name:</label>
<input type="text" name="Name" id="Name"  class="textinput required" value="" />

<input type="submit" id="newtaskbutton" data-icon="check" value="Next Step" />