<?xml version="1.0" encoding="Windows-1252"?>
<label data-inline="true"><strong>Task name</strong>:</label>
<input type="text" name="Name" placeholder="Compulsory" id="Name"  class="textinput required" value="" />
<label data-inline="true"><strong>Site name</strong>:</label>
<input type="text" name="Site" id="Site" placeholder="Compulsory" class="textinput required" value="" />
<input type="submit" id="newtaskbutton" data-icon="check" value="Next Step" />