<li>
  <strong>Telephone: </strong><%=this.Telephone%>
</li>
<li>
  <strong>Email: </strong>sarah.westminster@nhs.co.uk
</li>
<li>
  <strong>Hospital/Practice Name: </strong> <%=this.PracticeName%>
</li>
<li>
  <strong>Address: </strong><%=this.Street%>, <%=this.Town%>
</li>