<li>
  <strong>Telephone: </strong><%=this.item(0).Telephone%>
</li>
<li>
  <strong>Email: </strong>sarah.westminster@nhs.co.uk
</li>
<li>
  <strong>Hospital/Practice Name: </strong> <%=this.item(0).PracticeName%>
</li>
<li>
  <strong>Address: </strong><%=this.item(0).Street%>, <%=this.item(0).Town%>
</li>