<div data-role="navbar" id="nav">
    <ul>
        <li><a data-iconpos="top" data-icon="plus" data-transition="none" href="../hcp/hcp.htm" class="hcpTab">My HCP</a>
    </li>
    <li>
        <a data-iconpos="top" data-icon="plus" data-transition="none">Calendar</a>
    </li>
    <li>
        <a data-iconpos="top" data-icon="plus" data-transition="none">Progress</a>
    </li>
    <li>
        <a data-iconpos="top" data-icon="plus" data-transition="none">Support</a></li>
    </ul>
</div>