<div data-role="navbar" id="nav">
    <ul>
        <li><a data-iconpos="top" data-icon="plus" data-transition="none" href="../hcp/hcp.htm" class="hcpTab">My HCP</a>
    </li>
    <li>
        <a data-iconpos="top" data-icon="plus" data-transition="none" href="../calendar/calendar.htm" class="calendarTab">Calendar</a>
    </li>
    <li>
        <a data-iconpos="top" data-icon="plus" data-transition="none" href="../progress/progress.htm" class="progressTab">Progress</a>
    </li>
    <li>
        <a data-iconpos="top" data-icon="plus" data-transition="none" href="../support/support.htm" class="supportTab">Support</a></li>
    </ul>
</div>