<?xml version="1.0" encoding="Windows-1252"?>
<div data-role="navbar" id="nav">
    <ul>
        <li><a data-iconpos="top" data-icon="support-18" data-transition="none" href="<%=baseurl%>/zoladex/pages/hcp/hcp.htm" class="hcpTab">Contacts</a>
    </li>
    <li>
        <a data-iconpos="top" data-icon="calendar-18" data-transition="none" href="<%=baseurl%>/zoladex/pages/calendar/calendar.htm" class="calendarTab">Appointments</a>
    </li>
    <li>
        <a data-iconpos="top"  data-icon="progress-18" data-transition="none" href="<%=baseurl%>/zoladex/pages/progress/progress.htm" class="progressTab">Progress</a>
    </li>
    <li>
        <a data-iconpos="top" data-icon="hcp-18" data-transition="none" href="<%=baseurl%>/zoladex/pages/support/support.htm" class="supportTab">Support</a></li>
    </ul>
</div>