<%
var currentdate = null;
%>

<% if( this.length < 1 ){ %>
	
	<li data-role="list-divider">
		You have not reported any symptoms yet.
	</li>

<% }else{ %>

<%for(var i = 0; i < this.length ; i++){ %>	
<%
var compare = new Date(this[i].DateTime);

compare.setHours(0);
compare.setSeconds(0);
compare.setMinutes(0);
compare.setMilliseconds(0);

if(currentdate!==compare.getTime()){
currentdate=compare.getTime();
%>
<li data-role="list-divider"><%= $.scroller.formatDate('D d M yy', this[i].DateTime) %></li>
<% } %>
<li>
	<a href="symptomedit.htm?id=<%= this[i].id %>">
		<h3><div class="overflow"> <%= this[i].Description %></div></h3>
		<p><%if(this[i].WarningSign === 1){%> <span><div class="overflow warningText">Potential Warning Sign, contact your doctor.</div></span><%}%></p>
		<p class="ui-li-aside"><strong><%= $.scroller.formatDate('D d M yy h:ii A', this[i].DateTime) %></strong></p>
	</a>
</li>
<%}}%> 