<div data-role="page" data-add-back-btn="true" id="page">
    <div data-role="header">
        <h1>Home</h1>
    </div>
    <ul data-role="listview">
	    <li>
            <a href="../hcp/hcp.htm">
                <img class="margin-10" src="Images/Medical-Nurse-Female-Light-icon.png" />
			    <h3>My Healthcare Professional (HCP)</h3>
			    <p>- Capture your HCP's contact details</p>
                <p>- Find Patient Support Groups</p>
                <p>- Record Patient Hospital Number</p>
		    </a>
        </li>
		<li>
            <a href="../calendar/calendar.htm">
                <img class="margin-a" src="Images/calendar-icon.png" />
				<h3>Calendar</h3>
				<p>- Record Appointments</p>
			</a>
        </li>
		<li>
            <a href="../progress/progress.htm">
				<img class="margin-10" src="Images/Medical-Nurse-Female-Light-icon.png" />
				<h3>My Progress</h3>
				<p>- Track PSA Levels</p>
                <p>- Record symptoms</p>
			</a>
        </li>
        <li>
            <a href="../support/support.htm">
				<img class="margin-10" src="Images/Medical-Nurse-Female-Light-icon.png" />
				<h3>Support</h3>
				<p>- Links to useful websites</p>
                <p>- Links to useful organisations</p>
			</a>
        </li>
        <li>
            <a href="../legal/legal.htm">
				<img class="margin-10" src="Images/Medical-Nurse-Female-Light-icon.png" />
				<h3>Legal Notices</h3>
				<p>Legal Notice</p>
			</a>
        </li>
	</ul>
    <div data-role="footer" data-position="fixed" class="tabBarContainer" data-theme="a">
    </div>
</div>