<input type="hidden" name="id" id="Id" value="<%= this.Id %>" />
<label for="HcpId">HCP</label>
<select name="HcpId"></select>
<label for="AppointmentLocationId">Location:</label>
<select name="AppointmentLocationId"></select>
<label for="AppointmentTypeId">Type:</label>
<select name="AppointmentTypeId"></select>
<input type="submit" id="newaapointmentbutton" value="Submit" />