@{
    ViewBag.Title = "ContactUs";
}

<div class="mid">
    <div class="inner clearfix height">
       <div class="feat">
            <h2>Contact Us</h2>
             <hr />
       </div>
    </div>
</div>
