@{
    ViewBag.Title = "Home Page";
}
<div class="mid">
    <div class="inner clearfix">
        <div class="danger feat">
            <img src="/Images/cont_library_v2.png" class="feat_image" alt="" />
            <span class="lead">Risk assessments in situ</span>
            <p>
                Risk assessments have gone digital. Forget slow, paper based risk assessments, 
                using eRisk, you can complete all your risk assessments at the point of work
                for greater accuracy and ultimately less accidents.
            </p>
        </div>
        <div class="library feat">
            <img src="/Images/cont_trending_v2.png" class="feat_image" alt="" />
            <span class="lead">Comprehensive database</span>
            <p>
                eRisk holds a large database of hazards, their causes and control measures - Comprehensive risk assessments will be inevitable.
                On <a target="_blank" title="eRisk on the AppStore" href="https://itunes.apple.com/gb/app/erisk-assessment/id590776194">the full version</a>, you can add your own customised hazards and corresponding control measures.</p>
        </div>
        <div class="cloud feat">
            <img src="/Images/cont_devices_v2.png" class="feat_image" alt="" />
            <span class="lead">Email Service</span>
            <p>
                Not only does the app store completed risk assessments but you can also duplicate completed ones and edit them. Furthermore, 
                The <a title="eRisk on Google Play" target="_blank" href="https://play.google.com/store/apps/details?id=com.shortec.erisk">full version</a>
                 features report generation in the cloud that emails you and your company an easy to digest pdf.
            </p>
        </div>
    </div>
</div>

