@{
    ViewBag.Title = "TermsAndConditions";
}
<div class="mid">
    <div class="inner clearfix height">
       <div class="feat">
            <h2>Terms and conditions</h2>
             <hr />
       </div>
    </div>
</div>
