<?xml version="1.0" encoding="Windows-1252"?>
<ul id="CompletedList" data-filter="true" data-split-icon="delete" data-filter-placeholder="Search for a task" data-role="listview">
  <%if(this.length < 1){ %>
  
  <li data-role="list-divider">
    You currently have no completed(emailed) tasks
  </li>
    
  <%}else{ %>
  
  <% var dateStr = ""; %>  
  <%for(var i = 0; i < this.length; i++){ %>
  
  <%if(dateStr !=  this[i].DateFinished.toDateString()){%>
    <li data-role="list-divider">
      Emailed: <%= this[i].DateFinished.toDateString() %>
    </li>
  <%} dateStr = this[i].DateFinished.toDateString(); %>

    <li>
    <a class="task-item" href="mycompletedassessments.htm" id="<%=this[i].id%>">
      <h3>
        <%=this[i].Name%>
      </h3>
      <p>
        <i class="small">Touch to see details</i>
      </p>
    </a>
    <a href="dialog/deleteCompletedTaskConfirm.htm" data-rel="dialog" id="<%=this[i].id%>" class="delete"> 
    </a>
  </li>
  <%}}%>
</ul>
<br/>
<p>
  <a data-role="button" data-icon="plus" href="newtask.htm">Start new task</a>
</p> 
 
