<div data-role="fieldcontain">
  <label for="ControlsList" class="select"><strong>Add further controls</strong></label>
  <select name="ControlsList" id="ControlsList" multiple="multiple" data-native-menu="false">
    <option>Choose options</option>
    <%for(var i = "0"; i < this.controls.length; i++){ %>
    <option value="<%=this.controls[i].id%>">
        <%=this.controls[i].Name%>
    </option>
    <%}%>
  </select>

  <label for="SeverityList" class="select">
    Adjust <strong>Severity</strong> Rating
  </label>
  <select name="SeverityList" id="SeverityList" data-native-menu="false">
    <option value="1">
      1 - Not severe
    </option>
    <option value="2">
      2
    </option>
    <option value="3">
      3
    </option>
    <option value="4">
      4
    </option>
    <option value="5">
      5 - Extremely severe
    </option>
  </select>
  
  <label for="LikelihoodList" class="select">
    Adjust <strong>Likelihood</strong> Rating
  </label>
  <select name="LikelihoodList" id="LikelihoodList" data-native-menu="false">
    <option value="1">
      1 - Not likely
    </option>
    <option value="2">
      2
    </option>
    <option value="3">
      3
    </option>
    <option value="4">
      4
    </option>
    <option value="5">
      5 - Extremely likely
    </option>
  </select>
  <div data-role="fieldcontain">
    <p id="button-container">
      <a data-role="button" data-icon="check" id="submit">Finish assessment</a>
    </p>
  </div>
</div>
