 <div data-role="page" data-add-back-btn="true" class="hcpPage" id="ProfessionalListPage">
    <div data-role="header">
        <h1>HCP's</h1>
        <a href="newhcp.htm" data-icon="plus" class="ui-btn-right">New</a>
    </div>
    <div data-role="content">
        <ul data-role="listview" data-filter="true" data-inset="true" data-filter-placeholder="Search by first or last name">
            <li data-role="list-divider">Oncologists</li>
            <li><a>Dr Sarah Westminster</a></li>
            <li><a>Dr John Michaels</a></li>
            <li data-role="list-divider">GPs</li>
            <li><a>Dr Rufus Peterson</a></li>
            <li><a>Dr John Smith</a></li>
        </ul>
    </div>
    <div data-role="footer" data-position="fixed" class="tabBarContainer">
    </div>
</div>