<ul id="MyAssessmentsList" data-filter="true" data-split-icon="delete" data-filter-placeholder="Search for an assessment" data-role="listview">
  <%if(this.length < 1){ %>
  
  <li data-role="list-divider">
    There are currently no risk assessments recorded for <span id="task"></span>
  </li>
    
  <%}else{ %>

  <li id="divider" data-role="list-divider">
  </li> 
    
  <%for(var i = 0; i < this.length; i++){ %>
  <li>
    <a class="assessment-item" id="<%=this[i].id%>">
      <h3>
        <%=this[i].Hazard%>
      </h3>
      <p>
        <i class="small">Touch for more options</i>
      </p>
    </a>
    <a href="dialog/deleteConfirm.htm" data-rel="dialog" id="<%=this[i].id%>" class="delete"> 
    </a>
  </li>
  <%}}%>
</ul>
<br/>
<p>
  <a data-role="button" data-icon="plus" class="addToExisting" href="hazards.htm">Add another assessment</a>
  <a data-role="button" data-icon="forward" href="emailreport.htm">Email PDF report</a>
</p> 
 
